@model IEnumerable<E_commerce.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Producer"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producer.ProducerId)
                </td>
                <td>
                    @if (User.IsInRole("Producer"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                    }

                    <form asp-controller="BasketProducts" asp-action="Create" method="post">
                        <input type="hidden" name="ProductsId" value="@item.ProductId" />

                        @if (item.StockQuantity > 0)
                        {
                            <button type="submit">Add to Basket</button>
                        }
                        else
                        {
                            <button type="button" disabled>Out of Stock</button>
                        }
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>