@model IEnumerable<E_commerce.Models.BasketProduct>
@* Lists all basket product records. Admin/debug view. *@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Basket)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Basket.BasketId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BasketProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BasketProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BasketProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
