@model IEnumerable<E_commerce.Models.Discount>
@* Lists all discount codes. Admin view. *@

@{
    ViewData["Title"] = "Discount Codes"; @* Browser tab title *@
}

<h1>Discount Codes</h1>

<p>
    <a asp-action="Create">Create New</a> @* Link to create a new discount code *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxUses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsedCount)
            </th>
            <th></th> @* Empty column header for the action links *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxUses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedCount)
            </td>
            <td>
                @* Row-level action links - each passes the discount ID as a route value *@
                    <a asp-action="Edit"    asp-route-id="@item.DiscountId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DiscountId">Details</a> |
                    <a asp-action="Delete"  asp-route-id="@item.DiscountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
